# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
parts/
var/
*.manifest
*.spec
*.lock
pip-wheel-metadata/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific
placement.json
placement.png
Impressive_solution_v2.zip

# Matplotlib cache
.matplotlib/

# Logs
*.log
